body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.text {
	width: 500px;
	height: 494px;
	position: absolute;
    right: 100px;
    padding-top: 75px;
}

.text p {
	display: block;
	font-size: 1.75rem;
	font-style: italic;
	font-family: fantasy, comical, Georgia, Serif;
}

.presented-by {
	display: none;
	min-width: 1200px;
}

.presented-by p {
	display: block;
	font-size: 1rem;
	font-style: italic;
	font-family: fantasy, comical, Georgia, Serif;
	color: white;
	text-align: left;
	padding-left: 30px;
}

.sf-logo {
	background-image: url('../images/SF-logo.gif');
	width: 380px;
	height: 180px;
	display: none;
}

.tech-logos {
	background-image: url('../images/html-css-jquery.png');
	width: 300px;
	height: 348px;
	display: none;
}

.text .throw {
	float: left;
	width: 300px;
	height: 200px;
	display: none;
}

.text .look-cool {
	float: right;
	width: 300px;
	height: 220px;
	display: none;
}

.ryu {
	float: left;    
	/*Mentioned in instructions, but not in the code solution   */
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
	display: none;
}

.ryu-still {
	display: block;
}


.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}
